:root {
  --font-color: #000000;
  --bg-color: #ffffff;
  --code-color: #dddddd;
  --accent-color: #060;
  --surface-color: #f3f3f3;

  --body-size: 50rem;
  --link-color: var(--accent-color);
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #dddddd;
    --bg-color: #181a20;
    --code-color: #555;
    --accent-color: #090;
    --surface-color: #313432;
  }
}

@media screen and (max-width: 420px) {
  a,
  ul li {
    padding: 0.5rem 0;
  }
}

* {
  font-family: "Courier Prime", monospace;
  color: var(--font-color);
}

a,
a * {
  color: var(--link-color);
}

html {
  background: var(--bg-color);
}

body {
  max-width: var(--body-size);
  margin: auto;
  padding: 2rem;
}

p,
li,
button {
  font-size: 1.2rem;
}

code,
kbd {
  background: var(--code-color);
  padding: 0.1rem 0.3rem;
  border-radius: 8px;
}

h1,
h2 {
  position: relative;
}

h1::before,
h2::before {
  content: "★ ";
  color: var(--link-color);
}

@media screen and (min-width: 55rem) {
  h1::before,
  h2::before {
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-55%);
  }
}

.green {
  color: var(--link-color);
}

table {
  --border: 1px solid var(--font-color);
  border-collapse: collapse;
  border: var(--border);
  margin: 1rem;
}

table td,
table th {
  padding: 0.4rem 0.5rem;
  text-align: center;
  border-right: var(--border);
}

table th {
  border-bottom: var(--border);
}

table :not(thead) tr:nth-child(2n-1) {
  background: var(--surface-color);
}

button {
  background: var(--surface-color);
  border: 1px solid var(--font-color);
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
}

button:hover {
  background: var(--bg-color);
}

button:active {
  border-color: var(--bg-color);
}

textarea {
  display: block;
  width: 100%;
  margin: 1rem 0;
  background: var(--surface-color);
  height: 4rem;
  resize: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

noscript {
  background: #dc3545;
  padding: 1rem;
  border-radius: 8px;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.konvertilo {
  position: relative;
}

.konvertilo button {
  position: absolute;
  top: 0.5rem;
  right: 0;
  opacity: 0;
  transition: opacity ease-in-out 300ms;
}

.konvertilo[disabled] button {
  display: none;
}

.konvertilo:hover button,
.konvertilo button:focus {
  opacity: 1;
}
